name: Gitrivy GitHub Issue and Trivy Action

on:
  schedule:
    - cron: '0 0 * * 0'  # Weekly on Sunday
  workflow_dispatch:

jobs:
  audit:
    runs-on: ubuntu-latest
    steps:
      - uses: lazy-actions/gitrivy@v3
